/* Reseteo universal*/

*{ 
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

/* Desarrollo del HEADER*/

header{
    background-color:#24292e;
    color: white;
    font-size: 14px;
    font-weight: 500;
    align-content: center;
    align-items: center;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-right: 24px;
    padding-left: 24px;
    font-size: 14px;
    line-height: 1.5

}

.barra-busqueda{
    padding-right: 12px;
    padding-left: 12px;
    width: 219px;
    height: 28px;
    border: solid;
    border-color: rgb(76, 82, 94);
    border-width: 1px;
    border-radius: 5px;
    background-color:#24292e;
}

.barra-busqueda:focus{
    background-color: white;
    border: 0px;
}

.header-general{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}


.header-izquierda{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contenido-izquierda{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    padding: 0.5rem;
    
}

.contenido-derecha{
    display: flex;
    display: inline;
    justify-content: space-between;
    align-content: flex-end;
    padding: 0.5rem;
}

.separacion-imagenes{
    display: flex;
    align-items: center;
    padding: 0.5pt0;
    align-self: center;
}



/* Desarrollo de los Menues de la pagina */

/* Desarrollo menu navegacion*/

.sector-superior-pagina{
    background-color: rgb(250, 251, 252);
    
}


h1{
    margin: 0;
    font-size: 20px;
    font-weight: 400;
}

.menu-navegacion-general{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    height: 46px;
    margin-bottom: 16px;
}

.nombre-de-cuenta{
    text-decoration: none;
    color: #0366d6;
    font-weight: 400;
}

strong{
    font-weight: 600;
}

.menu-navegacion-izquierda{
    width: 40%;
    display: inline;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
}

.menu-navegacion-derecha{
    width: 30%;
    display: inline;
    display: flex;
    justify-content: flex-end;
    font-size: 1pt;
}

h1{
    margin: 0%;
    font-size: 20px;
}




/*Desarrollo menu de la pagina*/

.menu-pagina{
    height: 48px;
    width: 100%;
    font-size: 14px;
    justify-content: flex-end;
    border-radius: 6px;
    border-bottom: #ececec 1px solid;
    border-width: 1px;
    outline: none;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 32px;
    padding-right: 12px;
    margin-right: 10px;
    margin-bottom: 32px;
}

.contenedor-items{
    list-style-type: none;
    display: flex;
    flex-direction: row; 
    margin: 0;
    padding: 0;
}

.items{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 30px;
    color: var(--color-underlinenav-text);
}

.iconos-menu{
    width: 16px;
    height: 16px;
    margin-right: 6px;
}



/*Desarrollo del Main*/

/* Opciones de navegacion*/

.contenedor-main-general{
    display: flex;
    flex-direction: row;
}

.contenedor-main-derecha{
    width: 184.500px;
    height: 503px;
    padding-right: 16px;
    padding-left: 32px;
}

.contenedor-main-izquierda{
    width: 886px;
    margin-left: 64px;
}

.opciones-navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 32px;
    margin-bottom: 16px;
}

.contenedor-opciones-izquierda{
    display: flex;
    flex-direction: row;
    padding: 0; 
    width: 307.656px;
    height: 32px;
}

strong{
    padding: 0.15rem;
}

.opciones-navegacion-izquierda{
    display: flex;
    align-content: flex-start;
    align-items: center;
    padding-right: 0.5rem;
    width: 100%;
}

.opciones-navegacion-derecha{
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    padding: 0;
}

/*Contenedores del main*/

/*Proceso del trabajo*/

.proceso-del-trabajo{
    width: 100%;
    margin-bottom: 16px;
}

.ultimo-cambio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    background-color: rgb(241, 248, 255);
    border: #c2e9f3 1px solid;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.contenedor-actualizaciones-trabajo{
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border:#f6f5f5 1px solid;
    font-size: 14px;
    color: rgb(88, 96, 105);

}

.contenedor-actualizaciones-trabajo .contenedor-primer-cambio{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.contenedor-tipo-archivo{
    width: 237.500px;
    margin-right: 16px;
}

.contenedor-tipo-cambio{
    width: 450.500px;
    margin-right: 16px;
}

.contenedor-inicio-de-proyecto4{
    display: flex;
    justify-content: flex-end;
    width: 130px;
    
}

.hojita-doblada{
    margin-right: 16px;
}

/*Produccion archivo readme*/

.contenedor-archivo-readme{
    width: 887px;
    height: 192px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: #f6f5f5 2px solid; 
}

.nombre-y-edicion-readme{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    font-size: 14px;
    font-weight: 600;
}

.nombre-y-detalle-actividad{
    width: 820px;
    height: 90px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    padding-top: 16px;
}

h2{
    font-size: 32px;
    font-weight: 600;
    width: 820px;
    margin: 0%;
    border-bottom: #f6f5f5 2px solid;
    padding-bottom: 9.600px;
    margin-bottom: 16px;
}

/*Comienzo anexo de info accesoria*/

.info-accesoria{
    width: 274px;
    height: 466px;
    padding-left: 16px;
    padding-right: 16px;
}

.contenedor-about{
    border-bottom: rgb(230, 230, 230) 1px solid;
    
}

.about-derecha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.h2-mb{
    margin-top: 0%;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(36, 41, 46);
}

.nd-w{
    color: rgb(88, 96, 105);
    font-size: 16px;
    font-style: italic;
}

.libro-readme{
    margin-top: 24px;
    margin-bottom: 16px;
}

.contenedor-releases{
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: rgb(230, 230, 230) 1px solid;
}

.sub-title{
    margin: 0%;
    color: rgb(88, 96, 105);
    font-size: 12px;
}

.contenedor-packages{
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: rgb(230, 230, 230) 1px solid;
}

.contenedor-lenguages{
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 16px;
}

.ul-lenguages{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 280px;
    padding: 0%;
}

.porcentajes{
    list-style: none;
    font-size: 12px;
    margin-right: 8px;
}

.porcentajes2{
    list-style: none;
    font-size: 12px;
}


/*Comienzo de produccion del footer */

footer{
    font-size: 13px;
    width: 1248px;
    height: 114px;
    padding-right: 16px;
    padding-left: 16px;
}

.contenedor-footer{
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.listas-footer{
    padding: 0px;
    width: 450px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.gatito-footer{
    margin-right: 90px;
    margin-left: 90px;
}